# Web Framework
Flask
gunicorn
# Database Connection (Covers pymongo, MongoClient, ReturnDocument, ObjectId)
pymongo
dnspython

# Security (Covers Bcrypt)
flask-bcrypt
werkzeug

# Automation (Covers Mail and Message)
flask-mail

# Environment management

python-dotenv
